.signBox{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}




.card {
    height: 80vh;
    width: 40vw;
}

.footer {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}